# Environments
.venv/
env/
.env
.env.*
!.env.example

# Data
data/
unzipped_data/

# Python
__pycache__/

# Node
node_modules
js-api-samples
multi.md
GEMINI.md
fire.md
places.md
workflow.md
PROJECT_PLAN.md
pilot-local-dev-sa-key.json
mooncake/test-results/
mooncake/playwright-report/
playright.md
google_maps.md
firebase-debug.log
firebase-debug.*.log
setup_workload_identity.sh
server.md
test_dora_agent.md
places-testsecurity_audit_report.md
places-test
map-best.md
project_plan.md
security_audit_report.md
big.md
pilot/build
context.md
you.md