#audioButton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
}

.center {
    text-align: center;
    margin-top: 20px;
}

#audioButton.recording {
    background-color: #dc3545;
    color: white;
}

#audioButton.recording:hover {
    background-color: #c82333;
}
