google-adk>=1.16.0
langchain-google-vertexai
uv
fastapi
python-dotenv
uvicorn
google-cloud-storage
pymongo
google-cloud-logging
dnspython
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-aiplatform
requests
python-socketio
langchain
langchain-community
wikipedia
sounddevice
soundfile
numpy
scipy
websockets
pydub
pytest-mock
httpx
pytest
pytest-asyncio
cloud-sql-python-connector
pg8000
sqlalchemy
firebase-admin
opentelemetry-exporter-gcp-trace
opentelemetry-sdk
opentelemetry-api
motor
gunicorn
a2a-sdk